html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
    margin:0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    margin:0;
    padding: 0;
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100% ;
    justify-content: space-between;
    align-items: center;
}
.grid{
    display: flex;
    flex-direction: row;
    width: 750px;
    height: 750px;
    flex: none;
    
}
.gridColumn{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.gridSquare{
    flex: 1 1 0;
    border: black 0.5px solid;
}
.color {
    background-color: black;
}
.buttonDiv {
    height: 50px;
    padding: 10px;
    flex: none;

}
